
/*CSS for  dashboard page*/
.dashboard .dashboard-date-filter,
.dashboard .dashboard-filter {
  padding: 0px 0px 10px 10px;
}
.dashboard .page-filter .page__header {
  margin: 0 15px 0 15px;
}
.dashboard__card {
  box-shadow: none;
}
.dashboard__card__heading {
  text-align: center;
  font: 40px Myriad Pro Regular;
  color: #41474E;
}
.dashboard__card__title {
  text-align: center;
  font: 14px Myriad Pro Regular;
  color: #41474E;
}  
.dashboard-address {
  max-width:145px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-date-filter > button {
  background: #fff;
  border: 1px solid #dfe2e5;
  height: 40px;
}
.dashboard-date-filter > button:hover {
  border: 1px solid #000;
}
.dashboard-date-filter > button:hover {
  background: #fff;
}
.dashboard-date-filter > button .q-focus-helper {
  background: inherit!important;
  opacity: 0!important;
  transition: unset!important;
}
.dashboard-date-filter > button .q-btn__wrapper {
  padding: 0 7px 0 16px;
}
.dashboard-date-filter > button .q-btn__content {
  height: 100%;
}
.dashboard-date-filter > button .q-btn__content > span {
  border-right: 1px solid #dfe2e5;
  color: rgba(0, 0, 0, 0.6);
  height: 100%;
  padding-right: 16px;
  padding-top: 10px;
}
.dashboard-date-filter > button .q-btn__content > i {
  color: #98cf54;
  display: inline-flex;
  height: 100%;
  margin-left: 7px;
}
.card-mobile .q-card {
  background-color: #F2F5F8;
}

