// app global css in SCSS form
@import '../css/fonts/myriad-pro/myriad-pro.css';
body {
  font-family: Myriad Pro Regular;
  background-color: #f2f5f8;
}
a {
  color: $primary;
}
button.q-btn {
    border-radius: 0px;
}
.text-black {
  color: #000000;
}
.mt-30 {
 margin-top: 30px;
}
.flex-break {
  flex: 1 0 100% !important;
  height: 0 !important;
}
/*CSS override node modules*/
.q-menu {
  box-shadow: none!important;
  padding: 0px!important;
}
.q-tooltip--style {
  border-radius: 0;
}
.q-dialog__inner > div {
  border-radius: 0px;
}
/*CSS for search box border*/
.q-field--outlined .q-field__control:before {
  border: 1px solid #dfe2e5;
}
/*CSS for all left menu*/
.leftnav {
  background-color: $primary;
}
.leftnav-home {
  margin: 4px 0px 4px 8px;
  width: 25px;
  height: 25px;
  background: url('../assets/icons/home.png') no-repeat;
}
.leftnav-home:hover { 
  background-position: -25px 0;
}
.icon-pad {
  padding: 16px 15px 16px 23px!important;
}
.addclaim-icon {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/addclaim.png') no-repeat;
}
.addclaim-icon:hover { 
  background-position: -25px 0;
}
.audit-icon {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/audit.png') no-repeat;
}
.audit-icon:hover { 
  background-position: -25px 0;
}
.claims-icon {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/claims.png') no-repeat;
}
.claims-icon:hover { 
  background-position: -25px 0;
}
.contacts-icon {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/contacts.png') no-repeat;
}
.contacts-icon:hover { 
  background-position: -25px 0;
}
.reports-icon {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/reports.png') no-repeat;
}
.reports-icon:hover { 
  background-position: -25px 0;
}
.dashboards-icon {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/dashboards.png') no-repeat;
}
.dashboards-icon:hover { 
  background-position: -25px 0;
}
.leftnav-arrow {
  padding: 0px 10px 5px 0px;
  color: #98cf54;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu ul .topborder-leftnav {
  border-top: 1px solid #5A409E;
}
#cssmenu ul .border-leftnav {
  border-top: 1px solid #5A409E;
  border-bottom: 1px solid #5A409E;
}
#cssmenu {
  font-family: Myriad Pro Regular;
}
#cssmenu > ul {
  width: 70px;
  background-color: $primary;
}
#cssmenu > ul > li > a {
  padding: 15px 15px;
  font-size: 14px;
  color: #bdb8d8;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #222222;
}
#cssmenu ul li.has-sub > a::after {
  position: absolute;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
#cssmenu > ul > li.has-sub > a::after {
  top: 14px;
  background: #666666;
}
#cssmenu > ul > li.has-sub:hover > a::after,
#cssmenu > ul > li.has-sub > a:hover::after {
  background: #222222;
}
#cssmenu ul ul li.has-sub:hover > a::after,
#cssmenu ul ul li.has-sub > a:hover::after {
  background: #dddddd;
}
#cssmenu ul {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu ul ul {
  position: absolute;
  top: 0;
  left: -9999px;
  min-width: 210px;
  background: #1d1f40;
  opacity: 0;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  -o-transition: opacity 0.2s ease, -o-transform 0.2s ease;
  transition: opacity .2s ease, transform .2s ease;
  -webkit-transform: rotate3d(0, 1, 0, 45deg);
  -moz-transform: rotate3d(0, 1, 0, 45deg);
  transform: rotate3d(0, 1, 0, 45deg);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cssmenu ul li:hover > ul {
  left: 100%;
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0);
}
#cssmenu ul ul::after {
  position: absolute;
  left: -12px;
  top: 24px;
  z-index: 5;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 10px solid transparent;
  border-right: 12px solid #1d1f40;
  content: "";
}
#cssmenu ul ul  {
  padding: 20px 15px 20px 25px;
  font-size: 14px;
  color: #bdb8d8;
  font-weight: 1000;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul a {
  padding: 12px 15px 0px 0px;
  font-size: 14px;
  color: #bdb8d8;
  font-weight: 1000;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
.contact-longtext {
  width: 230px;
}
.leftnav-longtext {
  width: 290px;
}

/*CSS for all header*/
.q-header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  height: 65px;
  box-shadow: none!important;
  margin: 0px 0px 0px 1px;
}
.q-scrollarea {
  height: 800px;
}
.q-expansion-item__toggle-icon {
  color: #FFF;
}
.positive {
  color:$positive;
}

/*CSS for all pages*/

/*CSS for all pages filter section*/
.page-filter {
  border: none;
  padding: 10px 0px 9px 10px;
  background-color: #e6ebf1;
}
.page-filter .q-btn-dropdown {
  text-transform: capitalize;
  box-shadow: none !important;
  font: 16px Myriad Pro Regular;
  color: #222222;
}
.page-filter .q-badge {
  font-size: 9px;
  padding-top: 2px;
  bottom: 10px;
  position: relative;
  border-radius: 25px;
}
.page-filter .q-btn .q-btn__wrapper:before {
  box-shadow: none !important;
  text-transform: capitalize;
}
.filter-search {
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #BBBBBB;
  opacity: 1;
  box-shadow: none;
  margin-right: 5px;
}
.filter-button {
  width: 150px;
  max-width: 150px;
  border-radius: 0px;
}
.light-filter-button {
  width: 150px;
  max-width: 150px;
  color: #6AA0DB;
  background-color: #ffffff;
  border: 1px solid #6AA0DB;
}
.item-filter {
  padding:5px 0px 5px 6px;
  min-height: 20px;
}
.reset-filter {
  background-color: #30256a;
  color: #ffffff;
  font-family: Myriad Pro Regular;
  border-radius: 0px;
  padding: 0px;
  height: 40px;
}
.save-filter-button {
  background-color:$primary;
  color: #ffffff;
  height: 40px;
  border-radius: 0px;
  font-size: 14px;
  margin-left: 10px;
}
.save-filter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
.update-filter {
  background-color:$primary;
  color:#ffffff;
}
.savefilter-popup {
  width: 350px;
  height: 230px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 7px 3px 6px #00000029 !important;
  border: 1px solid #CBC9C9;
  border-radius: 17px !important;
  opacity: 1;
  color: #666;
  font-size: 16px;
}
.bfs-custom {
  width: 450px;
}
.bfs-custom .q-item__section > div {
  width: 50%!important;
}
.filter-scroll {
  width: 360px;
  height: 450px;
}
.filter-clear .q-btn__wrapper:before{
  width: 80%;
  box-shadow: none;
}
.filter-badge {
  position: relative;
  left:-52px;
  bottom:10px;
}
.my-filter {
  background: #f6f6f6;
  border-radius: 0px;
  height: 40px;
  font-size: 14px;
  margin-left: 10px;
}
.my-filter-list { 
  max-width: 250px!important; 
}
.my-filter-list .q-list {
  padding:8px;
}
.my-filter-list .q-item {
  width:235px;
  min-height:30px;
}
.my-filter-list .q-item .right-icons {
  display:none;
}
.my-filter-list .q-item.q-item--clickable:hover {
  background-color:#c4eccb;
}
.my-filter-list .q-item:hover .right-icons {
  display: block;
}
.my-filter-list .q-item__label { 
  font-size:14px; 
}
.my-filter-list .right-icons {
  font-size:16px;
  position: absolute;
  right: 10px;
  top:2px;
}
.my-filter-list .right-icons>i {
  margin-left:5px;
}
.my-filter-list.download-report {
  max-width:140px!important;
}
.my-filter-list.download-report .q-item {
  width:125px;
}
.my-filter-list.system-user { 
  width: 200px; 
}
.my-filter-list.system-user .q-item { 
  width: 185px;
}
.q-btn-dropdown--simple .q-btn-dropdown__arrow {
  margin-left: 8px;
  display: none;
}
.material-icons.on-right {
  padding-left: 15px;
  font-size: 1.7em;
  color: #98cf54;
}
.page__header {
  font: 26px Myriad Pro Regular;
  color: #666666;
  text-transform: uppercase;
  margin: 0px 0px 0px 66px;
  line-height: 40px;
}
.text-search-filter {
  width: 250px;
  height: 40px;
  background-color: #ffffff;
}
.delete-text-icon {
  font-size: 1rem;
  color: #b3b3b3;
  margin-right: 10px;
}
.hline {
  margin-top: 20px;
}
.filter-radio {
  line-height: 40px;
}
/*CSS for all pages table section*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.q-table thead, .q-table tr, .q-table th, .q-table td {
  border-color: rgba(0, 0, 0, 0);
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666;
}
tr:nth-child(even) {
  background: #ffffff;
}
tr:nth-child(odd) {
  background: #f8f8f8;
}
.nomargin_table {
  margin: 0px!important;
}
.page__table {
  border: 1px solid #dfe2e5;
  box-shadow: none;
  border-radius: 0px;
  font: 14px Myriad Pro Regular;
  color: #666666;
  margin-left: 24px;
}
.page__table th {
  font: 14px Myriad Pro Regular;
  color: #ffffff;
  background-color: #7c7d90;
}
.address_summary_txt th:first-child{
  font: 14px Myriad Pro Regular;
  color: #7c7d90!important;
}
.page__table th:first-child {
  color: #ffffff;
  padding-left: 30px;
}
.page__table td:first-child {
  color: #666666;
  padding-left: 30px;
}
.page__table .q-icon, .material-icons th{
  color: #98cf54;
  opacity: 1;
}
.page__table .q-table tbody tr:hover {
  background: #e9f4ff 0% 0% no-repeat padding-box;
  mix-blend-mode: darken;
  opacity: 1;
}
.report__table {
  padding:0px!important;
}
.download-icon {
  box-shadow: none;
  color: #216fdd;
}
.q-drawer--left.q-drawer--bordered {
  border-right: none!important;
}
.dropdown-label {
  font-size:14px !important;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  margin: 0px 10px 0px 0px;
  text-align: center;
}
.table-margin {
  margin: 0px 50px 50px 50px;
}
.table-heading-container {
  margin: 50px 50px 0px 50px;
}
.q-drawer--left .q-drawer--bordered {
  border-right: none !important;
  top: 80px;
}

/*CSS for Right Drawer on Claim Summary*/
.right-drawer {
  background-color: #EEF2F6;
  color: #41474E;
  font-size: 16px;;
}
.right-drawer-item:hover {
 color: #473899;
}
.drawer-button {
  height:250px;
  width: 25px;
  background-color: #62BA71;
  color: #ffffff;
  border-radius: 0px;
}
.q-drawer--right.q-drawer--bordered {
  background: #EEF2F6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  border: 0.5px solid #CCCCCC;
  top:80px;
}
/*CSS for generic notification popup (large)*/
.filter-popup.large-notification {
  height: auto;
  max-height: none;
  max-width: none;
  min-width: 400px;
  width: auto;
 }
.filter-popup.large-notification .q-card__section {
  color: #666;
  font-size: 29px;
  font-weight: bold;
  padding: 40px 60px 10px;
}
.filter-popup.large-notification .q-card__actions > button { 
  font-size: 14px; 
  font-weight: normal;
  margin: 10px 5px;
}
.filter-popup.large-notification .q-card__actions > button > .q-btn__wrapper:before {
  box-shadow: none;
} 

.q-card .page__heading > * {
  color: #41474F;
  font-size: 30px;
  font-weight: bold; 
}

/*CSS for all form details section*/
.bg-fade-out {
  background: transparent!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.red {
  color: #ED4758;
}
.disabled-btn .q-btn__wrapper {
  background-color: #CCCCCC;
  color: #fff;
}
.cancel-btn .q-btn__wrapper {
  background-color: #ED4758;
}
.details-header {
  background-color:#7c7d90;
  color: #fff;
  font-size:14px;
  padding:10px 25px 9px;
}
.details-container {
  color: #222;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 25px 30px;
}
.details-container.adjust-bottom {
  padding-bottom: 10px;
}
.details-container .details-field-container {
  padding-top: 10px;
}
.details-container .details-field-container .fs-container > section {
  width: auto!important;
}
.details-container .details-field-container.adjust-top {
  padding-top: 0;
}
.details-container .details-field-container.add-top {
  padding-top: 30px;
}

.details-container .details-field-container .notes textarea{
  padding: 8px 0 10px;
  max-height: 285px;
  min-height: 285px;
  resize: none;
}
.details-container .details-field-container .notes.q-field--disabled {
  background: transparent!important;
}
.details-container .details-field-container .notes.q-field--disabled,
.details-container .details-field-container .notes.q-field--disabled .q-field__control{
  height: auto!important;
  max-height: unset;
  min-height: 40px!important;
}
.details-container .details-field-container .notes.q-field--disabled>div {
  cursor: default;
}
.details-container .details-field-container .notes.q-field--disabled .q-field__control {
  padding-left: 0;
}
.details-container .details-field-container .notes.q-field--disabled .q-field__control:before {
  border: none!important;
}
.details-container .details-field-container .notes.q-field--disabled .q-field__control-container {
  opacity: 1!important;
}
.details-container .details-field-container .notes.q-field--disabled textarea {
  font-size: 17px;
  line-height: 20px;
  min-height: 40px
}
.details-field-container label.data-display {
  float: left;
  font-size: 17px!important;
  height: 34px;
  line-height: 34px;
}
.details-field-container label.data-display.bold {
  font-weight: 600;
}
.details-field-container .q-field.adjust-bottom {
  padding-bottom: 0;
}
.details-field-container .q-field--disabled {
  background: #f3f3f3;
}
.details-field-container .q-checkbox__inner {
  height: 35px;
  margin-bottom: -6px;
  margin-left: -9px;
  margin-top: -5px;
  min-width: 35px;
  padding: 0;
  width: 35px;
}
.details-field-container .q-checkbox__inner:before {
  content: none!important;
}
.details-field-container .q-checkbox__bg {
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.details-field-container i.text-negative {
  display: none;
}
.dfc-dropdown .q-virtual-scroll__content {
  padding: 8px 10px;
}
.dfc-dropdown .q-virtual-scroll__content>.q-item {
  min-height: 29px;
  padding: 4px 8px;
}
.dfc-dropdown .q-virtual-scroll__content >.q-item:hover {
    background-color: #c4eccb;
}
.dfc-dropdown .q-manual-focusable--focused>.q-focus-helper,
.dfc-dropdown .q-manual-focusable--focused .q-focus-helper:before {
  background: transparent!important;
}
.dfc-dropdown .q-item--active {
  color: inherit!important;
  font-weight: 600;
}

/*CSS for Responsive*/
@media (min-width: 1638px) {

}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .filter-label {
    text-align: left;
    line-height: 40px;
  }
  .filter-button {
    font-size: 14px;
  }
  .my-filter {
    background: #f6f6f6;
    font-size: 14px;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .filter-badge {
    position: relative;
    left: -38px;
    bottom: 10px;
  }
  .page-filter .q-btn .q-btn__wrapper {
    padding: 0px;
    min-height: 2.572em;
    border-radius: inherit;
    width: 100%;
    height: 100%;
  }
  .dropdown-label {
    font-size:14px !important;
  }
  .my-filter {
    background: #f6f6f6;
    padding: 0px 8px;
  }
  .filter-label {
    text-align: left;
  }
  .reset-filter {
    background-color: #30256a;
    padding: 0px 10px 0px 10px;
  }
  .apply-filter {
    padding: 0px 20px 0px 20px;
    color: #ffffff;
  }
  .save-filter-button {
    background-color:$primary;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dropdown-label {
    font-size:14px !important;
  }
  .filter-badge {
    position: relative;
    left: -32px;
    bottom: 10px;
  }
  .reset-filter {
    background-color: #30256a;
    padding: 0px 10px 0px 10px;
  }
  .apply-filter {
    padding: 0px 20px 0px 20px;
    color: #ffffff;
  }
  .save-filter-button {
    background-color:$primary;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .dropdown-label {
    font-size:14px !important;
  }

  .table-grid {
    border: 1px solid #eeeeee;
    box-shadow: none;
  }
  .mobile-pagination {
    display: none;
  }
  .page-filter .q-btn .q-btn__wrapper {
    padding: 0px;
    min-height: 2.572em;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    margin:5px 0px 5px 0px;
  }
  .filter-badge {
    position: relative;
    left: -36px;
    bottom: 10px;
  }
  .filter-label {
    text-align: left;
  }
  .reset-filter {
    background-color: #30256a;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
  }
  .apply-filter {
    padding: 0px 10px 0px 10px;
    color: #ffffff;
  }
  .save-filter-button {
    background-color:$primary;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
  }
  .filter-button {
    font-size: 12px;
  }
  .my-filter {
    background: #f6f6f6;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .reset-filter {
    background-color: #30256a;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
    font-size: 12px;
  }
  .apply-filter {
    background-color:$primary;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
  }
  .save-filter-button {
    background-color:$primary;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
  }
  .my-filter {
    background: #f6f6f6;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 0px 0px;
    font-size: 14px;
  }

}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .table-grid {
    border: 1px solid #eeeeee;
    box-shadow: none;
  }
  .page-filter .q-btn .q-btn__wrapper {
    padding: 8px 16px;
    min-height: 2.572em;
    border-radius: inherit;
    width: 100%;
    height: 100%;
  }
  .my-filter {
    background: #f6f6f6;
    margin-top: 5px;
  }
  .filter-label {
    text-align: left;
  }
  .filter-scroll {
    width: 320px !important;
    height: 360px;
  }
  .mobile-btn-mg {
    margin: 10px;
  }
  .filter-button {
    font-size: 12px;
  }
  .my-filter {
    background: #f6f6f6;
    font-size: 14px;
  }
  .reset-filter {
    background-color: #30256a;
    height: 40px;
  }
  .apply-filter {
    padding: 0px 10px 0px 10px;
    color: #ffffff;
  }
  .save-filter-button {
    background-color:$primary;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
  }
  .page-filter .q-btn-dropdown {
    text-transform: capitalize;
    box-shadow: none !important;
    font: 12px Myriad Pro Regular;
    color: #222222;
  }

}
.on-right {
  margin-left: 0px;
}